table {
  width: 100%;
}

svg {
	vertical-align: middle;
	width: 3em;
}

table.dataframe, .dataframe th, .dataframe td {
  border: none;
  border-bottom: 1px solid #C8C8C8;
  border-collapse: collapse;
  text-align:left;
  padding: 10px;
  margin-bottom: 40px;
  font-size: 0.9em;
}

tr:nth-child(odd)		{ background-color:#eee; }
tr:nth-child(even)	{ background-color:#fff; }

tr:hover            { background-color: #ffff99; }

.upload {
	padding: 2em;
	text-align: center;
	border: 1px solid #ccc;
	background: #BDDAFF;
}

/*Hide default input*/
#inputf {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

#inputf + label {
	padding: 1em 4em;
	color: #0074d9;
    display: inline-block;
    border: 2px solid currentColor;
}

#inputf:focus + label,
#inputf + label:hover {
	color: #0065c6;
}