<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, intial-scale=1">
	<title>Stream music</title>
	<link href="https://unpkg.com/picnic" rel="stylesheet">
</head>
<body>
	<div>
		<h1>Add your favorite music!</h1>
		<form method="POST" action="/upload" enctype="multipart/form-data">
			<div class="form-group">
				<label class="inputFile">File input</label>
				<input type="file" name="inputFile">
			</div>
			<button type="submit">Submit</button>
		</form>
	</div>

</body>
</html>